body {
    background-color: rgb(157, 184, 194);
}

h1 {
    color: rgb(61, 66, 78);
    text-align: center;
    
}

h2 {
    color: rgb(183, 184, 190);
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

nav a.active {
    color: aquamarine;
}

#map {
 height: 700px;
 width:100%;
}

.banner {
    /* The image used */
    background-image:
    url(https://ut.ee//sites/default/files/styles/ut_content_top_header/public/2023-04/52086215994_2bb6b06e76_o.jpg);
    height: 200px;
    background-size: length;
  }

  .container {
    padding-left: 5%;
    padding-right: 5%;
    
  }

  footer {
    margin-top: 0%;
    padding: 0%;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
  }

  nav {
    text-align: center;
    size: 10px;
  }